.item-detail-container {
  display: flex;
  gap: 2rem;
  padding-top: 2rem;
}

.item-detail-container > div {
  width: 50%;
}

.item-detail-container > div:nth-child(1) > img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.15);
}

div.product-information {
  display: flex;
  flex-direction: column;
}

div.product-information > h1 {
  font-weight: bold;
}

.product-price {
  font-weight: bold;
}

.ctas-container {
  display: flex;
  gap: 5px;
  margin-top: 0.5rem;
}
