/* ACA TODO EL CSS */
.navbar {
  width: 100%;
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 20;
  transition: all 0.5s ease;
}

.navbar > ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1rem;
}
